@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
    position: relative;
}

section#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#apps {
    size: 50px;
}